@import url('https://fonts.googleapis.com/css2?family=Changa&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Logo and Header Design */
header {
    margin: 25px 100px 0px 100px;
}

#logo {
    width: 150px;
    height: auto;
    float: left;
}

#logo img {
    width: 150px;
    height: auto;
}

#top-tier-trivia {
    max-width: 800px;
    max-height: 150px;
    background-color: rgb(255, 30, 0);
    margin: 15px auto;
    border: solid 2px black;
    border-radius: 75px;
}

#top-tier-trivia h1 {
    display: block;
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin: 25px auto;
    font-family: 'Indie Flower', cursive;
}

/* Questions and Answers */
#question-container {
    max-width: 1000px;
    height: 500px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question {
    font-family: 'Changa', sans-serif;
    color: whitesmoke;
    font-size: 4rem;
    padding: 20px;
    text-align: center;
}

#start-btn {
    position: relative;
    min-width: 300px;
    height: 150px;
    background-color: white;
    color: black;
    font-size: 3rem;
    border-radius: 25px;
    font-family: 'Changa', sans-serif;
}

#start-btn:hover {
    background-color: lightblue;
}

#answer-buttons {
    max-width: 1000px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

#answer-buttons button {
    min-width: 20%;
    height: 75px;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Changa', sans-serif;
}

/* Select Answer Prompt and Points System */
#prompt {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

#points-tally {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.points-text {
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
}

.points-total {
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    header {
        margin: 0 auto;
    }

    #top-tier-trivia {
        align-items: center;
        width: 90vw;
        max-height: 500px;
    }

    #logo {
        display: none;
    }

    #question {
        font-size: 3rem;
    }

}

@media (max-width: 425px) {

    #top-tier-trivia h1 {
        font-size: 3.2rem;
    }

    #prompt {
        display: none;
    }

    #answer-buttons button {
        min-width: 45%;
        margin-bottom: 10px;
        font-size: 1.25rem;
    }

    #question-container {
        height: 300px;
    }

    #question {
        font-size: 2rem;
    }

    #start-btn {
        position: relative;
        min-width: 300px;
        max-height: 150px;
    }

    #points-tally {
        margin-top: 80px;
    }
}