* {
    margin: 0;
    padding: 0;
}

/* Logo and Header Design */
header {
    margin: 25px 100px 0px 100px;
}

#logo {
    width: 150px;
    height: auto;
    float: left;
}

#logo img {
    width: 150px;
    height: auto;
}

#top-tier-trivia {
    width: 800px;
    height: 150px;
    background-color: red;
    margin: 15px auto;
    border: solid 2px black;
    border-radius: 75px;
}

#top-tier-trivia h1 {
    display: block;
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin: 25px auto;
}